@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%);
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;
}

.main {
    display: flex;
    flex-direction: 4 1fr;
    margin: 100px 80px;
}

.form {
    border: none;
    width: 600px;
    height: 480px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-flow: wrap;
}

.main h1 {
    color: #fff;
    margin-top: 180px;
    padding-bottom: 1em;
}

.main p {
    color: #fff;
    margin-right: 25px;
}

.form input {
    width: 90%;
    padding: 15px;
    margin: 10px;
    justify-content: center;
}

form {
    margin: 1.5em 1.5em 0px 1.5em;
}

button {
    border: none;
    width: 90%;
    padding: 15PX;
    margin: 10PX;
    background-color: hsl(154, 59%, 51%);
    border-radius: 3px;
    color: #fff;
}

button a {
    text-decoration: none;
    color: #fff;
}

h5 {
    margin-left: 800px;
    margin-top: 0px;
    margin-right: 75px;
    ;
    padding: 20px;
}

small {
    color: rgb(209, 209, 152);
    text-align: center;
    margin-left: 5px;
    font-weight: 50px;
}

small b {
    color: red;
}

body h5 {
    border: 1px solid #fff;
    text-align: center;
    text-justify: auto;
    background: right purple;
    margin-top: 50px;
    height: 80px;
    border-radius: 15px;
    font-size: 20px;
}

h5 a {
    color: #fff;
    text-decoration: none
}

h5 small {
    color: #fff;
}

@media all {
    body {
        max-width: 1440px;
        min-width: 375px;
    }
}